/**
 * Feuile de style Glitchlab.fr
 *
 * La convention d'écriture http://codeguide.co/#css est imposé pour
 * ce document.
 *
 * Les déclarations de régles doivent être ordonnées par sécifité de sélécteurs,
 * du plus faibles au plus forts et groupés par thématiques ou composants.
 * La spécificité : https://www.w3.org/TR/selectors/#specificity
 *
 *
 * @package glitchab.fr
 * @licence
 **/

/** Importation de fontes **/
@import '../fonts/merriweather/stylesheet.css';
@import '../fonts/oswald/stylesheet.css';
@import 'libs/glitch.css';

/** Titrage **/
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: Oswald, Arial, sans-serif;
  line-height: 1.1em;
  font-weight: bold;
  color: #2d2e2f;
}
h1 {
  margin-top: 0.16em;
  margin-bottom: 0.374em;
  font-size: 3em;
}
h2 {
  margin-top: 0.192em;;
  margin-bottom: 0.448em;
  font-size: 2.5em;
}
h3,
dt {
  margin-top: 0.32em;
  margin-bottom: 0.747em;
  font-size: 1.5em;
}
h4,
h5,
h6 {
  margin-top: 0.48em;
  margin-bottom: 1.12em;
  font-size: 1em;
  font-weight: bold;
}

/** Élements de paragraphes **/
body {
  margin: 0;
  display: grid;
  /**
  * Ressources sur les grilles
  * https://gridbyexample.com/examples/
  **/

  /*  1 colonne */
  /* grid-template-columns:
    [first] auto
    [main-start] minmax(auto, 54rem) [main-end]
    auto [last]; */
  grid-template-areas:
  ". header ."
  ". cover ."
  ". main ."
  ". navigation ."
  ". footer-primary ."
  ". footer-secondary ."
  ;
  grid-gap: 1rem;
  /* background-image: url('../../index/images/glitchlab-couverture_720x360.png');
  background-repeat: no-repeat;
  background-size: contain; */
  /* max-width: 56rem; */
  /* grid-template-columns: auto 1fr auto; */
  grid-template-columns: 1fr minmax(min-content, 33em) 1fr;
  /* grid-template-rows: min-content repeat(1fr) min-content; */
  font: 300 1.125em/1.5em Merriweather, Georgia, serif;
  color: #333536;
  background-color: #FFF;
}

p,
pre,
ul,
ol,
address {
  margin-top: 0;
  margin-bottom: 1.5em;
}

pre {
  white-space: pre-wrap;
  padding: 0.4em 0.8em 0.3em;
  background-color: #f3f3f3;
}

/** Listes **/
dd { margin-left: 0;}

/** Tableau **/
table {
  width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #b4b4b4;
  padding: 0.3em 0.6em;
}
tfoot td {
  font-style: italic;
  font-size: 0.8em;
}

/** Typographie **/
strong { font-weight: bold; }
code {
  padding: 0.2em 0.4em;
  background-color: #e7e7e7;
}
/** Médias **/
img { max-width: 100%; }
figure { margin: 0 0 .5em 0;}
figure img { width: 100%; }
figcaption { font-style: italic; }
figcaption em { font-style: normal; }

/** Boutons et navigation **/
.btn,
.btn-primary {
  display: inline-block;
  padding: 0.3em 0.8em;
  font-family: Oswald, Arial, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333536;
  background-color: white;
}
.btn:hover,
.btn-primary:hover {
  background-color: #333536;
  color: white;
  transition: 200ms;
}
.btn-primary {
  background-color: #333536;
  color: white;
}
.btn-primary:hover {
  color: #333536;
  background-color: white;
}
.navigation-links {
  /* grid-column: navigation-start / navigation-end; */
  grid-area: navigation;
  display: grid;
  width: 100%;
  padding: 0;
  margin-top: 1em;
  list-style: none;
}
.navigation-links > li > a { display: block; }

.go-to-navigation {
  text-decoration: none;
  position: absolute;
  top: 0.8em;
  right: 0.5em;
  color: #333536;
}
.go-to-navigation:before {
  display: block;
  padding: 0.1em 0 0.2em;
  font-size: 3em;
  content: '\002630'; /** ☰ **/
  transition: 200ms;
}
.go-to-navigation:hover:before {
  color: white;
  background-color: #333536;
}

/** ARIA, accessibility **/
/* [aria-hidde="true"] {visibility: hidden;} */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/** Structure, mobile first! **/
/* #cover { grid-column: first / last; grid-row: 1; } */
#cover { grid-area: cover; }
#header { grid-area: header; }
#navigation { grid-area: navigation; }
#main { grid-area: main; }
#footer-primary { grid-area: footer-primary; }
#footer-secondary { grid-area: footer-secondary; }
body > header,
body > nav,
main,
body > footer {
  /* grid-column: main-start / main-end ; */
  /* grid-area: main; */
}
/**
 * Les points d'arrets (ou point d'optimisations)
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 *
 * - xsmall : 0px - 599px
 * - small  : 600px - 1023px
 * - medium : 1024px - 1439px
 * - large  : 1440px - 1920px +
 **/

/** Structure pour écran petit (> 720px) **/
@media only screen and (min-width: 45rem) {
  body {
    font-size: 1.3125em;
    /* contenu sur 2 colonnes */
    /* grid-template-columns:
      [first] auto
      [main-start] 2fr [main-end side-start] 1fr [side-end]
      auto [last]; */
  }
  /* #footer-primary { grid-column: side-start / side-end; grid-row: 2;} */
  /* #header { grid-row: 1; } */
  .navigation-links {
    /* grid-auto-flow: row dense; */
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr) ) ;
  }
  /* .navigation-link { text-align: left; } */
}

/** Structure pour écran moyen (> 1024px) **/
@media only screen and  (min-width: 64rem) {
  body { font-size: 1.5em;
    /* contenu sur 3 colonnes  */
    /* grid-template-columns:
    [first] minmax(2.5rem, auto)
    [main-start] repeat(2, 1fr)
    [main-end side-start] repeat(1, 1fr) [side-end]
    minmax(2.5rem, auto) [last]; */
    grid-gap: 1.5rem;
    grid-template-areas:
    ". header header navigation navigation ."
    ". cover cover cover cover ."
    ". main main main . ."
    ". footer-primary footer-primary footer-primary . ."
    ". footer-secondary footer-secondary footer-secondary footer-secondary ."
    ;
    grid-template-columns: repeat(1, auto) repeat( 3,  11em) repeat(2, auto);
  }
  .go-to-navigation { display: none; }
}

/** Structures pour grand écran (> 1440) **/
@media only screen and (min-width: 90rem) {
  body { font-size: 1.75em;
    /* 6 colonnes  */
    /* grid-template-columns: [first] minmax(2.5rem, auto)
    [main-start] repeat(4, 1fr)
    [main-end side-start] repeat(3, fr) [side-end]
    minmax(2.5rem, auto) [last]; */
    grid-template-areas:
    ". header header navigation navigation ."
    ". cover cover cover cover ."
    ". main main main main ."
    " . footer-primary footer-primary footer-primary . ."
    ". footer-secondary footer-secondary footer-secondary footer-secondary ."
    ;
  }

  /** ajout de capacité de grid layout pour les articles principaux **/
  #main .multicolumns,
  #main .cover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #main .cover > h2 { grid-column: 1/4; }
  #main .cover > figure {
    grid-column: 1/3;
    margin-right: 1em;
  }
  /** Sommaire et navigation contextuelle **/
  #main .multicolumns > nav { grid-column: 1/4; }
  /** Limite d'affichage pour contenu mono-colonne **/
  #main > article { grid-column: 1/3; }
  /** Goutière pour le colonnage multiple **/
  #main .multicolumns > article { padding-right: 1em; }
  #main .multicolumns > article:last-child { padding-right: 0; }

}

/** Logo **/
.logo a {
  color: #2d2e2f;
  text-decoration: none;
}

/** Evénements **/
.event-date,
.event-location {
  padding: 0.3em 0.5em;
  background-color: #EEE;
}
.event-location p:last-child {margin-bottom: 0;}

